/*#region Common Rules  */

/* Import del font da Google*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1bb295;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*#endregion */

/*#region Wrapper Style */

.wrapper {
    width: 450px;
    background-color: #fff;
    border-radius: 10px;
}

.wrapper h1 {
    font-size: 22px;
    font-weight: 500;
    padding: 20px 25px;
    border-bottom: 1px solid #ccc ;
}

.wrapper .content {
    margin: 25px 25px 35px;
}

/*#endregion */

/*#region Content Style */

.content .inputs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Bottone di Reset */
.reset-btn {
    /* Dimensioni del button e testo */
    width: 100%;
    font-size: 17px;
    padding: 15px 0;
    /* Stile del Button */
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    background: #1bb295;
    border-radius: 5px;
}

/*#region Inputs */

/* Riquadri delle lettere */
.inputs input {
    height: 55px;
    width: 55px;
    margin: 5px;
    color: #1bb295;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    background:none;
    border-radius: 5px;
    border: 1px solid #b5b5b5;
}

/* Per centrare gli input dal first child */
.inputs input:first-child {
    margin-left: 0px;
}

/*#endregion */

/*#region Details */
.content .details {
    margin: 20px 0 25px;
}

.details p {
    font-size: 16px;
    margin-bottom: 10px;
}
/*#endregion */



/*#endregion */